@import 'variables';
body{
  margin: 0;
  background: #F4f4f4;
}
.container {
  display: flex;
  list-style: none;
  max-width: $width;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  padding: 0;
}
